<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.lesson.mapper.UserLoginMapper">
    <!--冲突登录用户数据-->
    <insert id="insertLoginUser" useGeneratedKeys="true" keyColumn="id" keyProperty="loginUser.id">
        INSERT INTO t_user_login (
            account,
            verify_code,
            create_user,
            create_time
        ) VALUES (
            #{loginUser.account},
            #{loginUser.verifyCode},
            #{loginUser.createUser},
            #{loginUser.createTime}
        )
    </insert>

    <!--更新用户登录信息-->
    <update id="updateLoginUser">
        UPDATE t_user_login
        SET verify_code = #{loginUser.verifyCode},
            update_user = #{loginUser.updateUser},
            update_time = #{loginUser.updateTime}
        WHERE account = #{loginUser.account}
    </update>

    <!--查询用户的校验码-->
    <select id="queryVerifyCode" resultType="java.lang.Integer">
        SELECT verify_code
        FROM t_user_login
        WHERE account = #{account}
        LIMIT 1
    </select>
</mapper>